body{
    padding: 100px;
}
/* .bank-title{
    text-align: center;
} */
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px bisque;
    padding: 40px;


}
#transaction{
    display: none;
   
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 10px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 20px;
}
